<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"   
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Chode Challange - Web Crawler + Search</title>
</h:head>
<h:body>
	<h:form>

		<h2>Code Challange - Web Crawler + Search</h2>
		<p>Enter URL for crawling process. And Pattern for search.</p>

		<h:panelGrid columns="2">

			<h:column>
				URL:
			</h:column>

			<h:column>
				<h:inputText id="url" value="#{webBean.url}" p:placeholder="URL" />
			</h:column>

			<h:column>
				Pattern:	
			</h:column>

			<h:column>
				<h:inputText id="pattern" value="#{webBean.pattern}"
					p:placeholder="Pattern" />
			</h:column>
		</h:panelGrid>

		<h:commandButton value="Crawl" action="#{controller.onCrawlClicked()}" />

		<h:commandButton value="Search"
			action="#{controller.onSearchClicked()}" />

		<h:panelGrid columns="1">

			<h:column>
				Output:
			</h:column>

			<h:column>
				<h:outputText id="output" value="#{webBean.output}" />
			</h:column>

			<h:dataTable value="#{webBean.resultList}" var="res" border="1">
				<h:column>
					<a href="#{res.resultURL}">#{res.resultURL}</a>
				</h:column>

				<h:column>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h:column>

				<h:column>
					<h:link value="#{res.resultPattern}" outcome="url">
						<f:param name="idpat" value="#{res.resultPattern}" />
					</h:link>
				</h:column>
			</h:dataTable>

		</h:panelGrid>

	</h:form>
</h:body>
</html>